@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.card {
  padding: 2em;
}

.container-bg {
  background-image: url(../public/pexels-mikhail-nilov-7731402.jpg);
}
